<div id="page-header">
  <nav class="page-nav">
    <%= link_to t('views.common.title_index', name: Book.model_name.human.downcase),  books_path %>
    <%= link_to t('views.common.title_index', name: User.model_name.human.downcase),  users_path %>
    <%= link_to t('devise.registrations.edit.profile'),  edit_user_registration_path %>
    <%= link_to t('devise.sessions.delete.sign_out'),  destroy_user_session_path, data: { turbo_method: :delete } %>
  </nav>
</div>
